@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
}
@import "tailwindcss";
 @plugin "daisyui" {
   themes: night;
 }

 @theme {
  --font-montserrat: "Montserrat", sans-serif; 
  --animate-fade-in-scale: fade-in-scale 0.3s ease-in-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}